<!DOCTYPE html>

<html lang="en">
    
    <head>
        <title>kaashmonee</title>
        <meta charset="utf-8" />
        <!-- Only have to call it once, since other HTML files are inheriting
        from this one -->
        <!-- Loading staticfiles...not sure what this would come out to in, like 
        pure HTML -->
        {% load staticfiles %}
        <!-- Referenced the stylesheet -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css" />
    </head>

    <body class="body"> <!-- style="background-color:#2b93d8" -->
        <div>
            <!--using jinja that's why this syntax may look somewhat unfamiliar-->
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
