{% extends "personal/header.html" %} 
 <!--Pages that are extended are pages that are used all over the webiste
The pages that are included are pages that are present in a lot of places, but
not necessarily everywhere-->

{% block content %}
    <p>
        Hey welcome to my website. My name's Skanda, and I go by kaashmonee.
    </p>

    <p>
        Press this button to change the site color!
    </p>

    <!--I can include these how many ever times I want, almost anywhere
    I want, so that's really nice. This jinja thing is pretty cool and
    seemingly useful-->
    {% include "personal/includes/htmlsnippet.html" %}
{% endblock %}